<!DOCTYPE html>
<html>
<head>
	{% extends 'header.html' %}
<title>{% block title %}Web App{% endblock %}</title>
</head>
<body>
{% block index %}
<h1 style="color:green;"><u>About Us</u></h1>
<p>
You can easily change the formatting of selected text in the document text by choosing a look for the selected text from the Quick Styles gallery on the Home tab. You can also format text directly by using the other controls on the Home tab. Most controls offer a choice of using the look from the current theme or using a format that you specify directly.
</p>
<p>
To change the overall look of your document, choose new Theme elements on the Page Layout tab. To change the looks available in the Quick Style gallery, use the Change Current Quick Style Set command. Both the Themes gallery and the Quick Styles gallery provide reset commands so that you can always restore the look of your document to the original contained in your current template.
</p>
{% endblock %}

</body>
</html>